<div class="cart-page">
    <p>Cart Details</p>
    <hr>
    <div class="cart-wrapper">
        <div class="cart-items-wrapper">
            <div class="cart-item" *ngFor="let product of products">
                <app-cart-item [product]="product" (removeItemEvent)="fetchCartProducts()" (updateCartEvent)="updateTotalPrice($event)"></app-cart-item>
            </div>
        </div>
        <div class="price-details">
            <h3>Price Details</h3>
            <hr>
            <p><span class="placeholder">Cart Total:</span><span>{{'Rs. ' + cartItemsTotalPrice}}</span></p>
            <p><span class="placeholder">Tax:</span><span>{{'Rs. ' +(cartItemsTotalPrice * 18)/100}}</span></p>
            <hr>
            <p><span class="placeholder">Total Amount:</span><span>{{'Rs. ' + (cartItemsTotalPrice + (cartItemsTotalPrice * 18)/100)}}</span></p>
            <p><button type="button" class="btn btn-primary" routerLink="/payment" (click)="onCheckout()">Procees to Checkout</button></p>
        </div>
    </div>
</div>
